.showDiv {
    height: 30px;
    width: 70px;
    font-size: 18px;
    margin: auto 5px;
    padding: 5px;
    text-align: center;
    background-color: var(--red);
    border-radius: 0px;
    border: 1px solid #000000;

}

.status {
    width: 70px;
    margin: auto 0 auto 10px;
}