body {
    background-color: var(--red);
}

.flex {
    display: flex;
    align-items: center;
}

.problem {
    height: 70px;
    width: 800px;
    margin: 10px 30px 30px;

    font-size: 20px;
    background-color: var(--yellow);
    border: 1px solid #d9dbdf;
    border-top: 5px solid #673ab6;
    border-radius: 10px;
    padding: 10px;
}

.tip {
    height: 70px;
    width: 600px;

}

select {
    height: 50px;
    width: 600px;
    border-radius: 10px;
    font-size: 20px;
    background-color: var(--yellow);
    border: 1px solid #d9dbdf;
}