.sum {
    width: 100px;
    height: 40px;
    background-color: var(--yellow);
    font-size: 30px;
    text-align: center;
    top: 110px;
    right: 20px;
    position: fixed;
    padding: 5px;
    border-radius: 0px;
    border: 1px solid #d9dbdf;


}

.show {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
}