.checkbox {
    display: flex;
    height: 70px;
    width: 40vw;
    background-color: var(--yellow);
    margin: 20px 10px;
    color: #202124;
    align-items: center;
    font-size: 20px;

    border: 1px solid #d9dbdf;
    border-radius: 10px;
    vertical-align: middle;
    transition: background-color ease-in-out 300ms;
}

label {
    width: 100%;
    text-align: center;
}

label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}

label > input + div{ /* DIV STYLES */
    cursor: pointer;
    border: 2px solid transparent;
}

.checkbox:has(input:checked) {
    background-color: var(--green);
    color: var(--yellow);
}

